.alert-box {
  background-color: skyblue;
  padding: 20px;
  color:white;
  border-radius: 5px;
  display: none;
}

.list-group {
  display: none
}

.show {
  display: block
}

.modal {
  display: none;
}

.modalx {
  visibility: hidden;
  opacity: 0;
  transition: all 1s;
}

.show-modal {
  visibility: visible;
  opacity: 1;
}
